body{
    margin: 0;
    padding: 0;
    font-family:Arial,  sans-serif;
    color: lightgray;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #001f7c38;
    
}

.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: lighten;
}

header{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(10px);
    padding: 0 30px;
    box-shadow: 0 0 15px #72a1de68;
    z-index: 999;
}

.left{
    display: flex;
    align-items: center;
}

.left img{
    width: 40px;
    margin: 0 15px;
}



/* NAVBAR MAIN CONTAINER */
nav {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(5px);
    padding: 0 30px;
    box-shadow: 0 0 15px #72a1de68;
    z-index: 999;
    font-family: "Inter", sans-serif; /* keeps font consistent */
}

/* LEFT SECTION */
nav .left {
    display: flex;
    align-items: center;
}

nav .left h1{
    font-size: 30px;
    display: flex;
    align-items: center;
}

nav .left img {
    width: 40px;
    margin: 0 15px;
}

/* MENU LIST */
nav ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #727fde65;
    cursor: pointer;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0 10px;
    font-family: inherit; /* force to use nav font */
}

/* ICON BOXES */
nav .box-icons {
    display: flex;
    gap: 40px;
}

nav .box-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #727fde;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s;
}

nav .box-icons a:hover {
    background-color: #727fde;
    color: black;
    box-shadow: 0 0 15px #727fde6f;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
        gap: 10px;
    }

    nav .left {
        justify-content: center;
        width: 100%;
    }

    nav ul {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0;
    }

    nav ul a {
        margin: 5px 10px;
        font-size: 15px;
    }

    nav .box-icons {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    nav .box-icons a {
        width: 28px;
        height: 28px;
        font-size: 16px;
    }
}


header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #727fde65;
}

header ul li {
    list-style: none;
    cursor: pointer;
}
header ul a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0 10px;
    
}

.box-icons{
    display: flex;
    gap: 40px;
}

.box-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #727fde;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s;

}

.box-icons a:hover{
    background-color: #727fde;
    color: black;
    box-shadow: 0 0 15px #727fde6f;
}

.blackhole-box{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    mix-blend-mode: lighten;
}

.blackhole-box video{
    width: 100%;
    margin-top: -23.5%;
}

.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;

}

.hero-info{
    position: absolute;
    left: 5%;
}

.hero-info .hero-info-title{
    color:#727fde;
    padding: 8px 5px;
    border: 1px solid #727fde77;
    width: 240px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde88;
    border-radius: 50px;
}

.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}

.hero-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.hero-info button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 80%);
    animation: moonlit-glow 2s infinite ease-in-out;
    transform: translate(-50%,-50%);
    opacity: 0;
}


.hero-info button:hover::before {
    opacity: 1;
    animation: moonlit-glow 1s infinite ease-in-out;
}




.hero-info button:hover{
    box-shadow: 0 0 20px #727fde86 , 0 0 25px rgba(255, 255, 255, 0.6);
    background-color: #3c1e59;
}


@keyframes moonlit-glow {
    0% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 0;
    }

    50% {
        transform: scale(1.5) translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 0;
    }
}



.hero-info .enter-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.hero-info .enter-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 80%);
    animation: moonlit-glow 2s infinite ease-in-out;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hero-info .enter-button:hover::before {
    opacity: 1;
    animation: moonlit-glow 1s infinite ease-in-out;
}

.hero-info .enter-button:hover {
    box-shadow: 0 0 20px #727fde86, 0 0 25px rgba(255, 255, 255, 0.6);
    background-color: #3c1e59;
}












.gradient{
    background: linear-gradient(to right, #008baa,#7e42a7,#6600c5,#6070fd,#2a46ff,#0099ff,#008baf);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;

}

.hero-vid-box{
    position: absolute;
    right: 3%;
    mix-blend-mode: lighten;
}

.hero-vid-box video{
    height: 900px;
}


@keyframes animate-gradient {
    
    to{
        background-position: 200%;
    }
}


.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid lightgray;
    position: absolute;
    left: 49%;
    bottom: 8%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.492);

}

.scroll-down::before,
.scroll-down::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid lightgray;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.5s;
}

@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30%,60%{
        opacity: 1;
    }
    100%{
        top: 90%;
        opacity: 0;
    }
}

.carousel {
    width: 500px;
    height: 700px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel img.active {
    display: block;
}

.caption {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    background: rgba(0, 0, 0 , 0.6);
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 90%;
}

.controls {
    position: absolute;
    top: 50%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
}

.controls button {
    background: rgba(255, 255 , 255 , 0.2);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.controls button:hover {
    background: rgba(255, 255, 255, 0.4);

}

.glow-text {
    color: #fff;
    text-shadow: 0 0 3px #aaa , 0 0 5px #aaa;
}


/* This is Luna Pioneers footer */
.custom-footer {
    background-color: #0a0c1a;
    color: lightgray;
    padding: 40px 20px 0;
    font-family: 'Inter', sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-footer .footer-logo .logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-footer .footer-logo .logo-title img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.custom-footer .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-footer .footer-col {
    flex: 1 1 180px;
    margin: 20px;
}

.custom-footer .footer-logo p {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.custom-footer .footer-logo h2 {
    font-size: 28px;
    color: #727fde;
    padding-bottom: 15px;
    font-family: 'Cinzel Decorative', serif;
}

.custom-footer .footer-col h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 16px;
}

.custom-footer .footer-col ul {
    list-style: none;
    padding: 0;
}

.custom-footer .footer-col ul li {
    margin-bottom: 15px;
}

.custom-footer .footer-col ul li a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

.custom-footer .footer-col ul li a:hover {
    color: white;
    text-shadow: 0 0 10px #727fdeaa;
}

.custom-footer .footer-socials a {
    display: inline-block;
    font-size: 25px;
    margin-right: 15px;
    color: #727fde;
    transition: transform 0.3s cubic-bezier(1, 1.56,0.64, 1), color 0.3s ease;
}

.custom-footer .footer-socials a:hover {
    color: white;
    text-shadow: 0 0 10px #727fde;
    transform: translateY(-8px) rotate(-360deg);
}

.custom-footer .footer-bottom {
    text-align: center;
    padding: 15px;
    font-size: 12px;
    background-color: rgb(13, 13, 44);
    color: lightgray;
}



@media (max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}