body{
            background:#0b0c2a;
            margin: 0;
           
           background-size: cover; 
            position:relative ;

            
        }
          *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        /* This is Luna Pioneers logo and nav */
nav{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(5px);
    padding: 0 30px;
    box-shadow: 0 0 15px #72a1de68;
    z-index: 999;
    
}
nav h1{
    font-size: xx-large;
}

.left{
    display: flex;
    align-items: center;
}

.left img{
    width: 40px;
    margin: 0 15px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #727fde65;
    cursor: pointer;
}

nav ul li {
    list-style: none;
}
nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0 10px;
}

.box-icons{
    display: flex;
    gap: 40px;
}

.box-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #727fde;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s;

}

.box-icons a:hover{
    background-color: #727fde;
    color: black;
    box-shadow: 0 0 15px #727fde6f;
}


@media (max-width: 768px){
    nav {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
        gap: 10px;
    }

    .left {
        justify-content: center;
        width: 100%;
    }

    nav ul {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0;
    }

    nav ul a {
        margin: 5px 10px;
        font-size: 15px;
    }

    .box-icons {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    .box-icons a {
        width: 28px;
        height: 28px;
        font-size: 16px;
    }
}

       
        .container{
            
            display: grid;
           grid-template-columns: repeat(4,auto);
           justify-content: center;
            gap: 25px;
            margin-top:100px;
            flex-wrap: wrap;
            font-size: medium;
            text-emphasis-color: silver;
         
        }
        h1 {
            
            font-family: "Tangerine";
            text-align: center;
            font-size: 60px;
        }
        .one{
            
            border: 3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
  
  width: 200px;
  text-align: center;
  font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;
}

.one:hover {
  transform: scale(1.05); 
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6);
} 
        .one img{
             width: 176px;
             height: 120px;
            border-radius: 8px;
           padding-top: 5px;
            

        }
        .two{
            border: 3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
 
  width: 200px;
  text-align: center;
  font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;
        }
        .two:hover{
            transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */
        }
        .two img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;

        }
        .three{
            border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
  
  width: 200px;
  text-align: center;
  
  font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;
        }
        .three:hover{
transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */
        }
        .three img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
           padding-top: 5px;


        }
        .four{
            border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
  
  width: 200px;
  text-align: center;
  
  font-family:"Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;
        }
        .four:hover{
            transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */

        }
        .four img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
           padding-top: 5px;


        }
        .five{
            border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
  
  width: 200px;
  text-align: center;
  font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;
        }
        .five:hover{
            transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */
        }
        .five img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;

        }
        .six{
            border:  3.9px double#ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
 
  width: 200px;
  text-align: center;
  font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;
        }
        .six:hover{
            transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */
        }
        .six img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;

        }
        .seven{
             border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
 
  width: 200px;
  text-align: center;
 font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;
        }
        .seven:hover{
           transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */ 
        }
        .seven img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;
        }
        .eight{
           border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
 
  width: 200px;
  text-align: center;
  font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px; 
        }
        .eight:hover{
            transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */ 
        }
        .eight img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;

        }
        .nine{
            border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
 
  background-color:#08072d; /* background color */
  color: #ffffff;
  
  width: 200px;
  text-align: center;
  font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;  
        }
        .nine:hover{
          transform: scale(1.05); 
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6);  
        }
        .nine img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;

        }
        .ten{
            border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
  
  width: 200px;
  text-align: center;
  font-family:"Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;   
        }
        .ten:hover{
            transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */ 
        }
        .ten img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;

        }
        .eleven{
            border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
  
  width: 200px;
  text-align: center;
  font-family:"Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;   
        }
        .eleven:hover{
            transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* glowing sh */ 
        }
        .eleven img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;

        }
        .twelve{
            border:  3.9px double #ffffff; /* white border */
  border-radius: 15px;       /* rounded corners */
  
  background-color: #08072d; /* background color */
  color: #ffffff;
  
  width: 200px;
  text-align: center;
  font-family: "Tangerine";
  transition: transform 0.3s ease-in-out;
  height: 240px;   
        }
        .twelve:hover{
            transform: scale(1.05); /* zoom effect on hover */
box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); 
        }
        .twelve img{
             width: 175px;
             height: 120px;
            border-radius: 8%;
            padding-top: 5px;

        }
        @media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
    width: 90% !important;
    height: auto;
    margin: 10px auto;
  }

  .one img, .two img, .three img, .four img,
  .five img, .six img, .seven img, .eight img,
  .nine img, .ten img, .eleven img, .twelve img {
    width: 100% !important;
    height: auto;
  }
}
.custom-footer {
    background-color: #0a0c1a;
    color: lightgray;
    padding: 40px 20px 0;
    font-family: 'Inter', sans-serif;
    border-top: 1px soled rgba(255, 255, 255, 0.1);
}

.footer-logo .logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo .logo-title img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}


.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}


.footer-col {
    flex: 1 1 180px;
    margin: 20px;
}

.footer-logo p{
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.footer-logo {
    font-size: 24px;
    color: #727fde;
    padding-bottom: 15px;
}

.footer-col h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 15px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
    
}

.footer-col ul li a:hover {
    color: white;
    text-shadow: 0 0 10px #727fdeaa;
}

.footer-socials a{
    display: inline-block;
    font-size: 25px;
    margin-right: 15px;
    color: #727fde;
    transition: transform 0.3s cubic-bezier(1, 1.56,0.64, 1), color 0.3s ease;
}

.footer-socials a:hover{
    color: white;
    text-shadow: 0 0 10px #727fde;
    transform: translateY(-8px) rotate(-360deg);

}

.footer-bottom {
    text-align: center;
    padding: 15px;
    font-size: 12px;
    background-color: rgb(13, 13, 44);
    color: lightgray;
}
